*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: grid;
    width: 500px;
    margin: auto;
    gap: 1px;
    margin-top: 50px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}

.item{
    background-color: blue;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.item1{
    background-color: blue;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    grid-column: 1/3;
}

.item2{
    background-color: blue;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    grid-row: 2/4;
}

.item3{
    background-color: blue;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    grid-column: 3;
    grid-row: 1/ span 2;
}

.item5{
    background-color: blue;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    grid-column: 2/4;
}

button{
    background-color: blue;
    color: aliceblue;
    font-size: 40px;
    border-color: blue;
    padding: 10px 40px 10px;
}